<!DOCTYPE html>
<html>
<title>TODOs APP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div style="min-width:400px">

<div class="w3-bar w3-large w3-theme-d4">
  <span class="w3-bar-item">TODOs APP</span>
</div>


<div class="w3-container w3-content">
  <form class="w3-container" method="POST" action="/todo" accept-charset="UTF-8" id="todo-form">
    <p>
    <label>ID</label>
    <input class="w3-input" name="id" type="number" value="0"></p>
    <p>
    <label>Description</label>
    <input class="w3-input" name="description" type="text" placeholder="TODO Description..."></p>
    <input class="w3-input w3-button" type="submit">
  </form>

</div>

</div>
</body>
</html>
